<link
  rel="stylesheet"

  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>
<body>
  <div class = "container-c">

    <section id="#gates">
      <h2>Микрокредитная компания</h2>
      <h1>"Мой кредит"</h1>

      <button type="button" name="onProposal" id="onProposal"
              class=" btn ps-3 pe-3 pt-1 pb-1 mt-3 btn-proposal"
              (click)="onProposal()" > Оставить заявку </button>
    </section>

    <section id="#aboutCompany">
      <div class = "container-fluid" >
        <div class=" row mt-5 ms-5 mb-5">
          <div class="col-sm-4 mt-5 ms-5 mb-5">
            <img src="../../../../assets/images/bank.jpg" class="img-fluid magazine-image" alt="...">
          </div>
          <div class="col-sm-7 me-2">
            <h4 class="mt-5 ms-5 me-5" style="min-width: 350px">
              О микрокредитной компании "Мой кредит"
            </h4>
            <label class="mt-5 ms-5 mb-5 me-5" style="min-width: 350px">
              Приложение, которое уже оценило более миллиона кыргызстанцев, позволяет просматривать остаток минут и гигабайтов, контролировать расходы по номеру, самостоятельно подключать услуги и даже заботиться о балансе близких.

              А с помощью кошелька «О!Деньги» легко оплатить коммунальные услуги, интернет, мобильную связь, штрафы с камер, налоги, покупки в магазинах, топливо на АЗС, счета в кафе и более 700 полезных сервисов.

              Установите приложение «Мой О!» из Google Play или AppStore

              Кредит доступен гражданам КР в возрасте от 23 до 65 лет.

              Кредит предоставляется ОАО «Дос-Кредобанк». Лицензия НБКР № 037.

              Банк вправе отказать в выдаче кредита. Комиссия составляет 10% от суммы кредита.

              В случае неоплаты в течение 30 дней предусмотрено начисление пени в размере 0,1% в день.
            </label>
          </div>
        </div>
        <br>
      </div>
    </section>

    <section id="#products" class="pt-5">
      <h1 class="align-text-top align-self-center mt-5">Продукты компании</h1>
      <div class="pb-5">
        <div class="row mt-2 ms-5 ">
          <div class="col me-5">
            <div class="panel ms-5 me-5 mt-5">
              <br>
              <h4 class="mt-3">Продукт №1</h4>
              <h6 class="mt-1">описание</h6>
              <i class=" bi bi-card-checklist panel-icon"></i>
              <br class="mb-5">
              <br>
            </div>
          </div>
          <div class="col me-5">
            <div class="panel ms-5 me-5 mt-5 ">
              <br>
              <h4 class="mt-3">Продукт №2</h4>
              <h6 class="mt-1">описание</h6>
              <i class=" bi bi-envelope panel-icon "></i>
              <br class="mb-5">
              <br>
            </div>
          </div>
          <div class="col me-5">
            <div class="panel ms-5 me-5 mt-5">
              <br>
              <h4 class="mt-3">Продукт №3</h4>
              <h6 class="mt-1">описание</h6>
              <i class=" bi bi-credit-card panel-icon"></i>
              <br class="mb-5">
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
    </section>

    <section id="#calculator" class="pt-5">
      <h1 class="align-text-top align-self-center mt-5">Кредитный калькулятор</h1>
      <div class="pb-5">
        <div class="row mt-2 ms-5 ">
          <div class="col-lg-6 ">

            <div class="panel ms-0 me-5 mt-5 ps-3 pe-3">
              <br>
              <div class="form-group">
                <label class = "mt-2">Продукт</label>
                <select class="form-control select"

                        id="category"
                        [formControl]="selectedProduct"
                        required
                >
                  <option value="null" disabled selected>Выберите продукт</option>
                  <option *ngFor="let product of products"
                          [value]="product">{{product.name}}
                  </option>
                </select>

              </div>
              <label for="amountRange" class="form-label ">Сумма</label>
              <input type="range" class="form-range" [min]="selectedProduct.value?.min_sum || 0" [max]="selectedProduct.value?.max_sum || 0" id="amountRange">
              <label for="durationRange" class="form-label">Длительность</label>
              <input type="range" class="form-range" [min]="selectedProduct.value?.min_duration || 0" [max]="selectedProduct.value?.max_duration || 0" id="durationRange">
              <label for="durationRange" class="form-label">Проценты: {{selectedProduct.value?.percent || 0}}%</label>
              <br class="mb-5">
              <br>
            </div>
          </div>
          <div class="col-lg-6 ">
            <div class="panel ms-0 me-5 mt-5 ps-3 pe-3">
              <br>
              <label class="form-label ">Сумма</label>
              <h3>0</h3>
              <label class="form-label ">Ежемесячный платеж</label>
              <h3>0</h3>
              <br class="mb-5">
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
    </section>

  </div>

</body>

