* {
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100% ;
  overflow: hidden;
  font-palette: light;
}
.container-c{


  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;

  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.remove-all-margin-padding{
  margin:0 !important;
  padding:0 !important;

}

section{
  display: flex;
  flex-direction: column;


  width: 100%;
  min-height: 100%;
  scroll-snap-align: start;
}


section#\#gates{
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(58, 58, 58, 0.6)
  url("../../../../assets/images/bank.jpg") no-repeat center center/cover;
  background-blend-mode: multiply;
}

section#\#journal{
  background-color: #3e4242;

}

section#\#publish{
  background: rgba(58, 58, 58, 0.6)
  url("../../../../assets/images/bank.jpg") no-repeat fixed center center/cover ;
  background-blend-mode: multiply;
}

.center-c{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.magazine-image{
  max-height: 400px;
}

.panel{
  min-width: 250px;
  max-width: 350px;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: rgb(10, 98, 191,0.5);
  transition: 2s
}

.panel-icon{
  font-size: 7em;
  color: white;
}

.panel:hover{
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
}

.row-c{
  display: flex;
  flex-wrap: wrap;
}

label{
  color: white;
}
h1{
  color: white;
}
h4{
  color: white;
}
h6{
  color: white;
}
