
<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">Регистрация страницы</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">

    <form class="needs-validation">

      <!-- Markdown select -->
      <div class="form-group">
        <label class = "mt-2">Markdown</label>
        <select class="form-control"
                id="category"
                [formControl]="formGroup.name"
                required
        >
          <option value="" disabled selected hidden>Выберите страницу</option>
          <option *ngFor="let pageMarkdown of formGroup.pageMarkdowns"
                  [value]="pageMarkdown">{{pageMarkdown}}
          </option>
        </select>
        <div *ngIf="checkFormControl(formGroup.name)"
             class="alert-danger">

          <div *ngIf="formGroup.name.errors?.['required']">
            Выберите страницу.
          </div>

        </div>
      </div>
      <!-- Select input language   radio-buttons -->
      <label class = "mt-2">Введите данные на языках</label>
      <br>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <div *ngFor="let lang of formGroup.requiredLangs" >
          <input
            [value]="lang"
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio{{lang}}"
            (change)="onLangChange(lang)"
            autocomplete="off"
            [checked]="selectedRadioButton===lang"
          >
          <label class="btn btn-outline-primary" for="btnradio{{lang}}">&emsp;{{lang}}&emsp;</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="markdownText"> Markdown </label>
        <textarea type="text"
               id="markdownText"
               class="form-control"
               [formControl]="formGroup.source"
               placeholder="Введите текст в формате markdown"
                  rows="10"
                  required autofocus="autofocus" ></textarea>
        <div *ngIf="checkFormControl(formGroup.source)"
             class="alert-danger">

          <div *ngIf="formGroup.source.errors?.['required']">
            Введите текст в формате markdown
          </div>

        </div>
      </div>


      <div class="form-group">
        <div class="mt-4">
          <button type="button" name="login-submit" id="login-submit"
                  class="form-control btn btn-primary btn-sm w-25" (click)="onSubmit()" > Сохранить </button>
          <button type = "button" class= "btn btn-outline-primary btn-sm w-25 ms-3"
                  (click)="onCancelClicked()">Отмена</button>
        </div>
      </div>
    </form>
  </div>
  <br>
</div>
</body>

