<nav class="navbar navbar-expand-lg navbar-color navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" routerLink = "/">Мой кредит</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-3">
          <a class="nav-link active" aria-current="page" routerLink = "/">Главная</a>
        </li>


        <li class="nav-item ms-3">
          <a class="nav-link active" aria-current="page" routerLink = "/user/handbook">Справочник</a>
        </li>

        <!-- Admin control -->
        <li class="nav-item dropdown ms-3" *ngIf="hasRole('Admin')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Админ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink = "/admin/journal/main">Продукты</a></li>
            <li><a class="dropdown-item" routerLink = "/admin/category/main">Заявки</a></li>
            <li><a class="dropdown-item" routerLink = "/admin/reviewer/main">Справочник</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Страницы сайта</a></li>
          </ul>
        </li>


        <li class="nav-item ms-3">
          <a *ngIf="!isLoggedIn()" class="nav-link active" aria-current="page" routerLink = "/login">войти</a>
        </li>
        <li class="nav-item ms-3">
          <a *ngIf="isLoggedIn()" (click)="logout()" class="nav-link active" aria-current="page" routerLink = "/login">выйти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
