<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  xmlns="http://www.w3.org/1999/html"/>

<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">Справочник пользователя</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">
    <!-- Search box -->
    <div class="input-group w-75 mt-2" >
      <input type="search" class="form-control" placeholder="Search" >
      <button class="btn btn-primary" type="button" id="button-search">
        <i class="bi bi-search"></i>
      </button>
    </div>

    <!-- handbook tips -->
    <div class = "mt-3">
      <div *ngFor="let tip of tips">
        <h2 class="" id="h{{tip.id}}">
          <h5 class="" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+tip.id" aria-expanded="false">
            {{tip.question}}
          </h5>
        </h2>
        <!-- tip body -->
        <div [attr.id]="'collapse'+tip.id" class="collapse ">
          <div class="">
            {{tip.answer}}
          </div>
        </div>
        <!-- end of tip body -->
        <hr>
      </div>
    </div>

  </div>


</div>

</body>
